

:root{
  --primary: #2B79BD;
  --secondary: #90B4CE;
  --blue: #094067;
  --tertiary: #EF4565;
  --backgroundButton: #3DA9FC;
  --white: #FFFFFE;
  --grey: #5F6C7B;
  --basefontFamily: Inter, Helvetica, sans-serif;
  --headline1: normal 4.5rem/5rem var(--basefontFamily);
  --headline2: normal 4rem/4.75rem var(--basefontFamily);
  --headline3: bold 2rem/2rem var(--basefontFamily);
  --headline4: bold 1.5rem/1.65rem var(--basefontFamily);
  --headline5: normal 1.25rem/1.65rem var(--basefontFamily);
  --body2Bold: bold .875rem/1.68rem var(--basefontFamily);
  --body2: normal .875rem/1.68rem var(--basefontFamily);
  --body1Bold: bold 1.125rem/1.68rem var(--basefontFamily);
  --body1: normal 1.125rem/1.68rem var(--basefontFamily);
  --button: normal 1.125rem/1.68rem var(--basefontFamily);
  --caption: normal .75em/normal var(--basefontFamily);
}
p{
  font: var(--body1);
  color: var(--grey);
}
a:hover{
  color: var(--blue);
}
.button-primary, .button-secondary{
  width: 100%;
  padding: 12px 24px;
  border-radius: 4px;
  font: var(--button);
  color: var(--white);
  margin-block-start: 1rem;
}
.button-primary{
  border: 0;
  background: var(--backgroundButton);
}
.button-secondary{
  background: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
}

.body{
  background: var(--white);
  margin: 0;
  padding: 0;
}
.wrapper-size1, .wrapper-size2{
  margin-inline: 1.4rem;
}
/*  **********    header  **********        */
.header-content{
  padding: 1rem 1.37rem;
  display: flex;
  justify-content: space-between;
}
.header-content > a{
  font: var(--headline4);
  color: var(--secondary);
  text-decoration: none;
}
/* **********     menu-hamburguesa     ********** */

.hamburger-box{  width: 24px;
  height: 24px;
}
.panel {
  position: fixed;
  z-index: 998;
  top: 90;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
  background: #2426298F;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
  visibility: visible;
}

.panel-btn {
  cursor: pointer;
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: var(--white);

}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.3s ease;
  font: var(--body1Bold);
  text-transform: uppercase;
}

.menu a:hover {
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue);
}

/* ********** presentation  **********   */
.wrapper-info{
  padding-inline: 1.375rem;
}
.presentation{
  padding-block: 2rem;
}
.presentation * h1{
  font: var(--headline3);
  color: var(--blue);
}
.presentation * p:first-of-type{
  font: var(--body1);
  color: var(--grey);
}
.presentation * p{
  font: var(--body2);

}


/* **********  projects **********  */
.projects{
  background: #D8EEFE;
}
.project-card{
  padding-block: 4rem;
}
.project-item > h2{
  color: var(--blue);
  font: var(--headline3);
}
/* **********  experience **********  */
.experience, .contact, .footer{
  background: var(--blue);
  color: var(--white);
}
.experience-item{
  padding-block: 1rem;
}
.experience-title{
  padding-block-start: 5rem;
  border-bottom:  1px solid;
}
.experience-title > h1, .experience-item > h3{
  color: var(--white);
  font: var(--headline3);
  margin: 0;
}
.experience * p{
  color: var(--white);
}
.experience-item > p:first-of-type{
  font: var(--body1Bold);
}

  /* **********  experience **********  */
.contact{
  padding-block: 4rem;
}
.contact * h2{
  font: var(--headline3);
}
.contact * h3{
  font: var(--headline4);
  color: var(--tertiary);
}

/* **********  footer **********  */
.footer-content > p{
  font: var(--body1Bold);
  color: var(--secondary);
  margin: 0;
}
.footer-social{
  padding-block: 2.5rem 3.2rem;
  display: flex;
  flex-direction: column;
}
.footer-social > a{
  color: var(--secondary);
  font: var(--body2Bold);
  text-transform: uppercase;
}
.footer-social > a:hover{
  color: var(--backgroundButton);
}
