

:root{
  --primary: #2B79BD;
  --secondary: #90B4CE;
  --blue: #094067;
  --tertiary: #EF4565;
  --backgroundButton: #3DA9FC;
  --white: #FFFFFE;
  --grey: #5F6C7B;
  --basefontFamily: Inter, Helvetica, sans-serif;
  --headline1: normal 4.5rem/5rem var(--basefontFamily);
  --headline2: normal 4rem/4.75rem var(--basefontFamily);
  --headline3: normal 2rem/2rem var(--basefontFamily);
  --headline4: normal 1.5rem/1.65rem var(--basefontFamily);
  --headline5: normal 1.25rem/1.65rem var(--basefontFamily);
  --body2Bold: bold .875rem/1.68rem var(--basefontFamily);
  --body2: normal .875rem/1.68rem var(--basefontFamily);
  --body1Bold: bold 1.125rem/1.68rem var(--basefontFamily);
  --body1Bold: normal 1.125rem/1.68rem var(--basefontFamily);
  --button: normal 1.125rem/1.68rem var(--basefontFamily);
  --caption: normal .75em/normal var(--basefontFamily);
}